div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-video-title {
  margin: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-style:oblique;
}

.credits {
  font-family: 'Poppins', sans-serif;
  font-size:1.25em;
  font-style: oblique;
  font-weight: 600;
}