.still {
  margin: 10px 1px;
}
.regular {
  height: 20vh;
}

.wide {
  height: 15.25vh;
}

p {
  display: grid;
  font-size: 1.5rem;
  grid-area: 2 / 1 / 3 / 4;
  margin: auto;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}


.preview-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2fr;
  grid-row-gap: 0px;
  margin-top: 0px;
  margin-bottom: 20px;
  text-decoration:  none;
  color: black;

}