.preview-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1500px;
  object-fit: contain;
}

.stills-container {
  width: fit-content;
  object-fit: contain;
}

.still {
  display: block;
  margin: 10px 2px 15px;
}
.regular {
  height: 20vh;
}

.wide {
  height: 15.25vh;
}

p {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  font-size: 1.5rem;
}
