.name, h2 {
  font-family: 'Poppins', sans-serif;
}

.name {
  font-style:  semi-bold;
  /* font-size: 5em; */
  font-size: 4.5vw;
  margin-bottom: 0px;
  text-decoration: none!important;
  color: black;
}

.name:hover {
  border-bottom-color: red;
  border-bottom-width: 2px;
}


h2 {
  font-style: italic;
  font-size: 2vh;
  margin-top: -10px;
  color: black;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1800px) {
  .name {
    font-size: 4.5em;
  }
}

@media screen and (max-width: 1800px) {
  h2 {
    font-size: 1.75vw;
  }


}