nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: -15px;
}

.navigation-link {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  font-size: 1.5em;
  margin: 10px;
  color: black;
}

.navigation-link-active {
  border-bottom: 5px solid;
}